<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.panarik.smartFeatures">
    <!-- все разрешения -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LandscapeActivity"></activity>
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.VideoWebActivity" />
        <activity android:name=".data.menu.createinterface.LinearLayoutActivity" />
        <activity android:name=".data.menu.createinterface.CreateInterfaceActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.PictureEffectsActivity" />
        <activity android:name=".data.products.RecyclerProductViewActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".data.catgame.PetActivity" />
        <activity android:name=".activity.PlayingAudioActivity" />
        <activity android:name=".activity.VideoLocalActivity" />
        <activity android:name=".activity.FreeGameActivity" />
        <activity android:name=".activity.ShopOrderActivity" />
        <activity android:name=".activity.ShopMainActivity" />
        <activity android:name=".activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>