<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.panarik.smartFeatures">
    <!-- все разрешения -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTime">
        <activity android:name=".activity.tipsCalculator.TipsCalcActivity" />
        <activity android:name=".activity.DragAndDropActivity" />
        <activity android:name=".activity.BlogKotlinActivity" />
        <activity android:name=".activity.BugUiExampleActivity" />
        <activity android:name=".activity.TaxiDriverActivity" />
        <activity android:name=".activity.TaxiDriverSignInActivity" />
        <activity android:name=".activity.TaxiPassengerSignInActivity" />
        <activity android:name=".activity.TaxiChooseModeActivity" />
        <activity android:name=".activity.TaxiSplashScreenActivity" />
        <activity android:name=".activity.UserListActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".data.products.RecyclerProductViewActivity" />
        <activity android:name=".data.catgame.PetActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoWebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".data.menu.createinterface.LinearLayoutActivity" />
        <activity android:name=".data.menu.createinterface.CreateInterfaceActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.LandscapeActivity" />
        <activity
            android:name=".activity.PictureEffectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mainMenu.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayingAudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoLocalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.freeGame.FreeGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>